.container {
    max-width: 1000px;
    width: 100%;
    background-color:var(--cor-de-fundo);
    padding: 30px;
    border-radius: 15px;
    margin: 80px auto 40px;
}

.tabela {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    list-style: none;
}

.tabelaItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 15px;
    color: var(--cor-normal);
}

.highlight, .highlightCuidado, .highlightAlerta, .highlightGrave {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 15px;
    border-radius: 30px;
}

.highlight {
    border: 1.5px solid var(--cor-normal);
    color: var(--cor-normal);
}

.highlightCuidado {
    border: 1.5px solid var(--cor-cuidado);
    color: var(--cor-cuidado);
}

.highlightAlerta {
    border: 1.5px solid var(--cor-alerta);
    color: var(--cor-alerta);
}

.highlightGrave {
    border: 1.5px solid var(--cor-grave);
    color: var(--cor-grave);
}

.tabelaItem img {
    height: 220px;
    width: min-content;
    margin-bottom: 20px;
}

.tabelaItem h1 {
    font-size: 18px;
}

.tabelaItem h2 {
    font-size: 12px;
}

.tabelaItem h3 {
    font-size: 10px;
}

.resultado, .resultadoCuidado, .resultadoAlerta, .resultadoGrave {
    margin-top: 11px;
    font-size: 18px;
    text-align: center;
    font-weight: 900;
}

.resultado {
    color: var(--cor-normal);
}

.resultadoCuidado {
    color: var(--cor-cuidado);
}

.resultadoAlerta {
    color: var(--cor-alerta);
}

.resultadoGrave {
    color: var(--cor-grave);
}


@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.tabela-entrada {
    animation: slideIn 0.5s ease-out forwards;
}