.calculadora {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: end;
    gap: 22px;
}

.calculadoraItem {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.calculadoraItem input, .calculadoraItem select, .calculadoraItem button {
    height: 40px;
    padding: 10px;
}

.calculadoraItem input, .calculadoraItem select {
    background-color: var(--cor-de-fundo);
    outline: none;
    border: none;
    border-radius: 7px;
    color: var(--cor-input);
    font-size: 14px;
}

.calculadoraItem option {
    font-size: 14px;
}

.calculadoraItem label {
    margin-left: 9px;
}

.calculadoraItem button {
    outline: none;
    border-radius: 7px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.calcular {
    background-color: var(--cor-botao-calcular);
    border: 1px solid var(--cor-botao-calcular-borda);
}

.limpar {
    background-color: var(--cor-botao-limpar);
    border: 1px solid var(--cor-botao-limpar-borda);
}